@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');

/** HOME **/

.section-hostspot {
  width: 100%;
  height: 600px;
  background: var(--logoLibrital);
  margin-top: 100px;
}

.container-home-banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.home-description {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: #414141;
}

.home-description h1 {
  font-family: "Pacifico", cursive;
  font-size: 3em;
  font-weight: 400;
  font-style: normal;
  //text-transform: uppercase;
  color: white;
  text-align: center;
}

svg {
  position: absolute;
  top: 90px;
  height: 20%;
}


.desc-texto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.desc-texto {
  font-family: "Exo 2", sans-serif;
}

.div-btn-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--amarilloOscuro);
  border-radius: 9999px;
  background-color: var(--amarillo);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgb(61, 60, 60);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.btn:hover {
  background-color: transparent;
  color: white;
}

.span-btnIcon {
  height: 1.5rem;
  width: 1.5rem;

  img {
    width: 100%;
    height: 100%;
  }
}


.fondo-images {
  width: 50%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
  justify-self: center;
}


.circle_home {
  width: 500px;
  height: 500px;
  background-color: #2f7e5d;
  border-radius: 100%;
  box-shadow: inset 0 12px 24px #1f5940;
  display: grid;
  place-items: center;
}


.subcircle_home {
  width: 85%;
  height: 85%;
  background-color: var(--amarillo);
  box-shadow: inset 0 0 5px #b68733;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.img-circle {
  height: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  align-content: center;
  width: 100%;
}



/** SECTION ICONS **/

.section-icons {
  width: 100%;
  height: 100%;
  padding: 5%;
  background: var(--logoLibrital);
}


.container-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  i {
    font-size: 2em;
    color: var(--amarillo);
    padding-bottom: 3%;
  }

  h3 {
    text-align: center;
    color: white;
    font-family: "Pacifico", cursive;
  }

  p {
    text-align: center;
  }
}


/** SECCION TENDENCIAS **/

.section-tendencias {
  width: 100%;
  height: 100%;
  background: var(--logoLibrital);
}

.section-tendencias h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Pacifico', cursive;
  //font-size: 4rem;
  color: white;
  padding: 2% 0;
}

.div-libros-tendencia {
  width: 100%;
  display: flex;
  padding: 0 2.5%;
}


.lista-tendencias {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  padding: 1%;
}

/*.card-tendencia {
  width: 250px;
  height: 420px;
  text-align: center;
  padding: 0 3%;
  margin: 0 1%;
}

.card-image img {
  width: 150px;
  height: 250px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/




.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 600px;
  padding: 0 3%;
  margin: 5% 1%;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}

.book {
  width: 200px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book-container:hover .book,
.book-container:focus .book {
  transform: rotateY(0deg);

}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
  transform: translateZ(15px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
}

.book::before {
  position: absolute;
  content: ' ';
  left: 0;
  top: 1px;
  width: 28px;
  height: 298px;
  transform: translateX(184px) rotateY(90deg);
  background-color:white;
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 200px;
  height: 300px;
  transform: translateZ(-15px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
}

.card-info {
  visibility: hidden;
  position: absolute;
  bottom: -50px;
  width: 200px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.63);
  box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.2);
  transition: bottom 0.5s;
  transition-delay: 0.8s;
  border-radius: 20px;

  p {
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
  }

}

.book-container:hover .card-info {
  bottom: 0;
  transition-delay: 0s;
  visibility: visible;
}

::-webkit-scrollbar {
  width: 1px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--amarillo);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--colorFondo);
  border-radius: 10px;
}










/** SECCION GENEROS **/

.section-generos {
  width: 100%;
  height: 100%;
  //margin: 1% 0;
  background: var(--logoLibrital);
}



.card-genero {
  background-color: white;
  margin: 5% 2%;
  border-radius: 10px;
}

.card-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.card-img {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}

.card-img img {
  max-width: 100%;
  max-height: 100%;
}

.div-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.card-genero:hover {

  box-shadow: 0 0 10px 5px var(--logoLibrital);
  transform: scale(1.1);

  .card-img img {
    height: 100px;
    transform: translate(-20px, -20px) rotate(-15deg) scale(1.4);
  }

}



/** SECCION ARRIVALS **/

.section-new-arrivals {
  padding-top: 5%;
  width: 100%;
  height: 100%;
  background: var(--logoLibrital);
}

.section-new-arrivals h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Pacifico', cursive;
  //font-size: 4rem;
  color: white;
  padding: 2% 0;
}

.arrival-slider {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}



.section-new-arrivals .arrival-slider .wrapper .card-new {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px solid var(--colorFondo);
  margin: 1%;
  gap: 1%;
}

.card-new-image {
  width: 100%;
  height: 250px;

}

.card-new-image img{
  //padding-top: 1%;
  margin-top: 2%;
  width: 180px;
  height: 250px;
  object-fit: cover;
  box-shadow: 0 2px 2px 2px var(--colorFondo);
}


.card-contenido {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 200px;
}

.card-info-libro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title-new-arrcontenido-cardivals {
  padding: 0 2.5%;
}

.btn-card-arrival {
  width: 100%;
  padding: 0 0 5% 0;
}

.btn-new-arrivals {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--amarilloOscuro);
  background-color: var(--amarillo);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgb(61, 60, 60);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.btn-new-arrivals:hover {
  background-color: transparent;
  color: white;
}























@media (max-width: 1100px) {

  .circle_home {
    width: 340px;
    height: 340px;
  }

  .img-circle {
    height: 100%;
    width: 100%;
  }
}


@media (max-width: 900px) {

  .section-hostspot {
    height: auto;
  }

  .container-home-banner {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 5%;
  }

  .home-description {
    width: 100%;
    height: auto;
  }

  svg {
    height: 15%;
  }

  .fondo-images {
    width: 100%;
  }

  .circle_home {
    width: 240px;
    height: 240px;
  }

  .subcircle_home {
    width: 85%;
    height: 85%;
  }


  .img-circle {
    height: 100%;
    width: auto;
  }

}

@media (max-width: 260px) {

  svg {
    display: none;
  }

  .circle_home, .subcircle_home {
    width: 100%;
    //height: 100%;
    background: var(--logoLibrital);
    box-shadow: none;
  }
  .img-circle {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .card-new {
    width: 100%;
    height: 100%;
  }

  .card-new-image {
    width: 100%;
    height: 200px;
  }

  .card-new-image img {
    width: 100%;
    height: 100%;
  }

  .card-contenido {
    height: 100%;
    width: 100%;
  }

}


@media(max-width:200px) {

  .div-btn-home {
    width: 100%;
  }

  .btn {
    width: 90%;
  }

}


@media(max-width: 640px) {

  .wrapper {
    display: -webkit-box;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }

}
