@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lora:ital,wght@0,400..700;1,400..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/** HOME **/

.section-hostspot {
  width: 100%;
  height: 600px;
  background: var(--logoLibrital);
  margin-top: 100px;
}

.container-home-banner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.home-description {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: #414141;
}

.home-description h1 {
  font-family: "Pacifico", cursive;
  font-size: 3em;
  font-weight: 400;
  font-style: normal;
  //text-transform: uppercase;
  color: white;
  text-align: center;
}

svg {
  position: absolute;
  top: 90px;
  height: 20%;
}


.desc-texto {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.desc-texto p {
  font-family: "EB Garamond", serif;
  color: #282626;
}

.div-btn-home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--amarilloOscuro);
  border-radius: 9999px;
  background-color: var(--amarillo);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgb(61, 60, 60);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.btn:hover {
  background-color: transparent;
  color: white;
}

.span-btnIcon {
  height: 1.5rem;
  width: 1.5rem;

  img {
    width: 100%;
    height: 100%;
  }
}


.fondo-images {
  width: 50%;
  height: 100%;
  position: relative;
  display: grid;
  place-items: center;
  justify-self: center;
}


.circle_home {
  width: 500px;
  height: 500px;
  background-color: #2f7e5d;
  border-radius: 100%;
  box-shadow: inset 0 12px 24px #1f5940;
  display: grid;
  place-items: center;
}


.subcircle_home {
  width: 85%;
  height: 85%;
  background-color: var(--amarillo);
  box-shadow: inset 0 0 5px #b68733;
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.img-circle {
  height: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  align-content: center;
  width: 100%;
}



/** SECTION ICONS **/

.section-icons {
  width: 100%;
  height: 100%;
  padding: 5%;
  background: var(--logoLibrital);
}


.container-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  i {
    font-size: 2em;
    color: var(--amarillo);
    padding-bottom: 3%;
  }

  h3 {
    text-align: center;
    color: white;
    font-family: "Pacifico", cursive;
  }

  p {
    text-align: center;
  }
}


/** SECCION TENDENCIAS **/

.section-tendencias {
  width: 100%;
  height: 100%;
  background: var(--logoLibrital);
}

.section-tendencias h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Pacifico', cursive;
  //font-size: 4rem;
  color: white;
  padding: 2% 0;
}

.div-libros-tendencia {
  width: 100%;
  display: flex;
  padding: 0 2.5%;
}


.lista-tendencias {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  padding: 1%;
}

/*.card-tendencia {
  width: 250px;
  height: 420px;
  text-align: center;
  padding: 0 3%;
  margin: 0 1%;
}

.card-image img {
  width: 150px;
  height: 250px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/




.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 600px;
  padding: 0 3%;
  margin: 5% 1%;
}

@keyframes initAnimation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-30deg);
  }
}

.book {
  width: 200px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(-30deg);
  transition: 1s ease;
  animation: 1s ease 0s 1 initAnimation;
}

.book-container:hover .book,
.book-container:focus .book {
  transform: rotateY(0deg);

}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 300px;
  transform: translateZ(15px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
}

.book::before {
  position: absolute;
  content: ' ';
  left: 0;
  top: 1px;
  width: 28px;
  height: 298px;
  transform: translateX(184px) rotateY(90deg);
  background-color:white;
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: 200px;
  height: 300px;
  transform: translateZ(-15px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
}

.card-info {
  visibility: hidden;
  position: absolute;
  bottom: -50px;
  //width: 200px;
  width: 100%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  backdrop-filter: blur(10px);
  //background-color: rgba(255, 255, 255, 0.63);
  background-color: rgba(74, 161, 122, 0.63);
  box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
  border: 1px solid rgba(255,255,255,0.2);
  transition: bottom 0.5s;
  transition-delay: 0.8s;
  border-radius: 20px;

  p {
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
  }

}

.book-container:hover .card-info {
  bottom: 0;
  transition-delay: 0s;
  visibility: visible;
}

::-webkit-scrollbar {
  width: 1px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--amarillo);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--colorFondo);
  border-radius: 10px;
}




/** SECCION ARRIVALS **/

.section-new-arrivals {
  padding-top: 5%;
  width: 100%;
  height: 100%;
  background: var(--logoLibrital);
}

.section-new-arrivals h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Pacifico', cursive;
  //font-size: 4rem;
  color: white;
  padding: 2% 0;
}

.arrival-slider {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}



.section-new-arrivals .arrival-slider .wrapper .card-new {
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px solid var(--colorFondo);
  margin: 1%;
  gap: 1%;
}

.card-new-image {
  width: 100%;
  height: 280px;
}

.card-new-image img{
  //padding-top: 1%;
  margin-top: 2%;
  width: 180px;
  height: 250px;
  //object-fit: cover;
  box-shadow: 0 2px 2px 2px var(--colorFondo);
}



.card-contenido {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 200px;
}

.card-info-libro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title-new-arrcontenido-cardivals {
  padding: 0 2.5%;
}

.btn-card-arrival {
  width: 100%;
  padding: 0 0 5% 0;
}

.btn-new-arrivals {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--amarilloOscuro);
  background-color: var(--amarillo);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgb(61, 60, 60);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.btn-new-arrivals:hover {
  background-color: transparent;
  color: white;
}





/** SECTION GENEROS INTRO */

.section-know-categorias {
  width: 100%;
  height: 100%;
  background: var(--logoLibrital);
  padding: 5% 0 0 0;
}

.div-know-categorias {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  background-color: var(--libritalOscuro);

}

.div-image-categorias {
  height: 100%;
}


.div-image-categorias img {
  padding: 5%;
}

.div-text-categorias {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-text-categorias h3 {
  color: white;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 2% 0;
}

.div-categorias-ejemplo {
  width: 100%;
  height: 100%;
  //padding: 5% 0;
}

.lista-categorias-ejemplo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.circle-category {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle-category p {
  color: white;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 2% 0;
}


.category-gif {
  width: 100px;
  height: 100px;

}





/** SECTION SCROLLDOWN */

.scroll-down-icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--libritalOscuro);
}

.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  //margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 5%;
  margin-top: 1%;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}
.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}




/** SECCION GENEROS **/

.div-image-categorias img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.section-generos {
  width: 100%;
  height: 100%;
  background: var(--logoLibrital);
  padding: 5% 0;
}

.section-generos h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Pacifico', cursive;
  //font-size: 4rem;
  color: white;
  padding: 2% 0;
}


.div-categorias {
  width: 100%;
  height: 100%;
}

.lista-categorias {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.card-genero {
  width: 250px;
  height: 300px;
  margin: 1%;
  border: 2px solid var(--colorFondo);
  text-decoration: none;
}


.card-img {
  width: 100%;
  border-bottom: 2px solid var(--colorFondo);
}

.card-img img {
  width: 100%;
  object-fit: cover;
  padding: 10%;
}

.div-title {
  padding: 5% 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
  }

}

.card-genero:hover {
  background: var(--colorFondo);
  border: 2px solid var(--amarillo);

  .card-img {
    border-bottom: 2px solid var(--amarillo);
  }

  .card-img img {
    animation: moveUpAndDown 4s infinite;
  }

  .div-title p {
    color: var(--amarillo);
  }

}


@keyframes moveUpAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}



/** SECTION MAPA */
.section-mapa-info {
  width: 100%;
  height: 100%;
  background: var(--libritalOscuro);
  padding: 2% 0;
}

.div-mapa-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //padding: 5% 0;
}

.div-text-mapa {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-text-mapa h3 {
  color: white;
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 2% 0;
}

.div-image-mapa {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.div-image-mapa img {
  width: 80%;
  height: 80%;
  //padding: 0 3%;
}

.span-btnIcon.mapa {

  margin-right: 0.5rem;
}





/** RESPONSIVE **/

@media (max-width: 1100px) {

  .circle_home {
    width: 340px;
    height: 340px;
  }

  .img-circle {
    height: 100%;
    width: 100%;
  }

  .scroll-down-icon {
    display: none;
  }

}


@media (max-width: 900px) {

  .section-hostspot {
    height: auto;
  }

  .container-home-banner {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    padding-top: 5%;
  }

  .home-description {
    width: 100%;
    height: auto;
  }

  svg {
    height: 15%;
  }

  .fondo-images {
    width: 100%;
  }

  .circle_home {
    width: 240px;
    height: 240px;
  }

  .subcircle_home {
    width: 85%;
    height: 85%;
  }


  .img-circle {
    height: 100%;
    width: auto;
  }

}

@media(max-width: 640px) {

  .wrapper {
    display: -webkit-box;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: scroll;
  }

}


@media(max-width: 600px) {

  .div-know-categorias {
    flex-direction: column;
  }

}


@media (max-width: 395px) {

  .circle-category {
    width: 100%;
    height: 100%;
  }

  .category-gif {
    width: 80px;
    height: 80px;
  }

}

@media (max-width: 285px) {

  .div-categorias-ejemplo {
    display: none;
  }

}



@media (max-width: 260px) {

  svg {
    display: none;
  }

  .circle_home, .subcircle_home {
    width: 100%;
    //height: 100%;
    background: var(--logoLibrital);
    box-shadow: none;
  }
  .img-circle {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .card-new {
    width: 100%;
    height: 100%;
  }

  .card-new-image {
    width: 100%;
    height: 250px;
  }


  .card-contenido {
    height: 100%;
    width: 100%;
  }

  .card-genero {
    width: 100%;
    margin:5%;
    height: auto;
  }

}


@media(max-width:200px) {

  .div-btn-home {
    width: 100%;
  }

  .btn {
    width: 90%;
  }

}



