
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>


<header id="nav-menu">
  <div class="container-navbar">
    <div class="nav-start">
      <a class="logo" routerLink="/">
        <img src="Librital_logo.png" alt="Librital Logo" />
      </a>
      <nav class="menu">
        <ul class="menu-bar">
          <li>
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <fa-icon class="icon-bar" [icon]="houseInicio"></fa-icon>
              Inicio
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="/buscador" routerLinkActive="active">
              <fa-icon class="icon-bar" [icon]="lupaBuscador"></fa-icon>
              Buscador
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="/anuncios" routerLinkActive="active">
              <fa-icon class="icon-bar" [icon]="mapMapas"></fa-icon>
              Mapa
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="/biblioteca" routerLinkActive="active">
              <fa-icon class="icon-bar" [icon]="libroBibliotecas"></fa-icon>
              Biblioteca
            </a>
          </li>
          <li>
            <a class="nav-link" routerLink="/about-us" routerLinkActive="active">
              <fa-icon class="icon-bar" [icon]="infoAcerca"></fa-icon>
              Acerca
            </a>
          </li>
          <li *ngIf="isAdministrador()" routerLinkActive="active" (click)="displayAdminOptions()">
            <!--<button class="nav-link dropdown-btn" data-dropdown="dropdown1">
              Administrador
              <fa-icon [icon]="dropdownIcon"></fa-icon>
            </button>-->
            <a class="nav-link dropdown-btn" data-dropdown="dropdown1" [class.active]="isAdminOptionSelected">
              <fa-icon class="icon-bar" [icon]="tuercaAdmin"></fa-icon>
              Administrador
              <fa-icon [icon]="dropdownIcon"></fa-icon>
            </a>
            <div id="dropdown1" class="dropdown">
              <ul role="menu" class="dropdown-ul">
                <li role="menuitem" routerLinkActive="active">
                  <a class="dropdown-link" routerLink="/estadisticas" (click)="handleAdminOptionClick('estadisticas')">
                    <img src="https://cdn-icons-png.flaticon.com/512/7995/7995431.png" class="icon" />
                    <div>
                      <span class="dropdown-link-title">Estadísticas</span>
                    </div>
                  </a>
                </li>
                <li role="menuitem" routerLinkActive="active">
                  <a class="dropdown-link" routerLink="/estadisticas" (click)="handleAdminOptionClick('estadisticas')">
                    <img src="https://cdn-icons-png.flaticon.com/128/3330/3330314.png" class="icon" />
                    <div>
                      <span class="dropdown-link-title">Libros</span>
                    </div>
                  </a>
                </li>
                <li role="menuitem" routerLinkActive="active">
                  <a class="dropdown-link" href="#subscriptions" (click)="handleAdminOptionClick('estadisticas')">
                    <img src="https://cdn-icons-png.flaticon.com/128/854/854929.png" class="icon" />
                    <div>
                      <span class="dropdown-link-title">Mapa</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a class="nav-link" *ngIf="!isUsuarioLogueado()" routerLinkActive="active" routerLink="/login">
              <fa-icon class="icon-bar" [icon]="loginAcceder"></fa-icon>
              Acceder
            </a>
          </li>
          <li class="nav-link link-registro" *ngIf="!isUsuarioLogueado()" routerLinkActive="active" routerLink="/sign-up">
            <a class="btn-registrar" role="button">
              <a class="nav-link">Registrarse</a>
              <div class="arrow-wrapper">
                <div class="arrow"></div>
              </div>
            </a>
          </li>
          <li routerLinkActive="active" *ngIf="isUsuarioLogueado()" (click)="displayPerfilOptions()">
            <a class="nav-link dropdown-btn" data-dropdown="dropdown2" [class.active]="isPerfilOptionSelected">
              <fa-icon class="icon-bar" [icon]="userProfile"></fa-icon>
              <fa-icon [icon]="dropdownIcon"></fa-icon>
            </a>
            <div id="dropdown2" class="dropdown perfil-drop">
              <ul role="menu" class="dropdown-ul">
                <li role="menuitem" routerLinkActive="active">
                  <a class="dropdown-link" routerLink="/perfil" (click)="handlePerfilOptionClick('perfil')">
                    <img src="https://cdn-icons-png.flaticon.com/512/4795/4795910.png" class="icon" />
                    <div>
                      <span class="dropdown-link-title">Acceder Perfil</span>
                    </div>
                  </a>
                </li>
                <li role="menuitem active" routerLinkActive="active">
                  <a class="dropdown-link" (click)="cerrarSesion()">
                    <img src="https://cdn-icons-png.flaticon.com/128/1574/1574351.png" class="icon" />
                    <div>
                      <span class="dropdown-link-title">Cerrar Sesión</span>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="nav-end">
      <button id="hamburger" aria-label="hamburger" aria-haspopup="true" aria-expanded="false" (click)="toogleNavBarResponsive()">
        <fa-icon [icon]="optionsMenu"></fa-icon>
      </button>
    </div>
  </div>
</header>

<div class="content" [class.overlay]="isLoading">
  <router-outlet></router-outlet>
</div>

