html {
  margin: 0;
  padding: 0;
  background-color: var(--colorFondo);
}


/** NAVBAR **/

.navbar {
  background-color: var(--logoLibrital);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 998;
}



