
<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<nav class="navbar navbar-expand-lg" >
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="Librital_logo.png" loading="lazy" alt="Logo" height="50" width="50">
      Librital
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/buscador">Buscador</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/anuncios">Anuncios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/biblioteca">Biblioteca</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us">Acerca de</a>
        </li>
        <li class="nav-item" *ngIf="!isUsuarioLogueado()" routerLinkActive="active">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isAdministrador()" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Administrador
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" >Estadísticas</a></li>
            <li><a class="dropdown-item" >Libros</a></li>
            <li><a class="dropdown-item" >Anuncios</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="isUsuarioLogueado()" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Perfil
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/perfil">Acceder al Perfil</a></li>
            <li><a class="dropdown-item" routerLink="/" (click)="cerrarSesion()">Cerrar Sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content" [class.overlay]="isLoading">
  <router-outlet></router-outlet>
</div>

