<section id="section-header">
  <div class="div-banner-information">
    <div class="div-information-title">
      <h3>BIENVENIDOS A LIBRITAL</h3>
    </div>
    <div class="div-information-text">
      <p>Lorem ipsum dolor sit amet eos justo accumsan justo zzril at laoreet elitr nihil. Amet erat iusto laoreet minim et duis dignissim ex et in no ut justo et esse lorem. Aliquyam nonumy ex volutpat soluta clita dolor dolore erat. Lobortis sea gubergren clita.</p>
      <p>Lorem ipsum dolor sit amet eos justo accumsan justo zzril at laoreet elitr nihil. Amet erat iusto laoreet minim et duis dignissim ex et in no ut justo et esse lorem. Aliquyam nonumy ex volutpat soluta clita dolor dolore erat. Lobortis sea gubergren clita.</p>
    </div>
  </div>
  <div class="images-slide-banner">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://cdn-icons-png.flaticon.com/512/4288/4288932.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://cdn-icons-png.flaticon.com/512/7273/7273762.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://cdn-icons-png.flaticon.com/512/7286/7286624.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
</section>


<section id="section-information">
  <div class="div-info-proyecto">
    <div class="imagen-info-proyecto">
      <div class="imagen-proyecto"></div>
    </div>
    <div class="info-proyecto-descripcion">
      <div class="descripcion1">
        <h3>Pregunta 1</h3>
        <p>Lorem ipsum dolor sit amet eos justo accumsan justo zzril at laoreet elitr nihil. Amet erat iusto laoreet minim et duis dignissim ex et in no ut justo et esse lorem. Aliquyam nonumy ex volutpat soluta clita dolor dolore erat. Lobortis sea gubergren clita.</p>
      </div>
      <div class="descripcion2">
        <h3>Pregunta 2</h3>
        <p>Lorem ipsum dolor sit amet eos justo accumsan justo zzril at laoreet elitr nihil. Amet erat iusto laoreet minim et duis dignissim ex et in no ut justo et esse lorem. Aliquyam nonumy ex volutpat soluta clita dolor dolore erat. Lobortis sea gubergren clita.</p>
      </div>
    </div>
  </div>
</section>

<section id="section-team">
  <div class="title-team">
    <h3>EQUIPO</h3>
  </div>
  <div class="div-info-team">
    <div class="foto-team">
      <img id="foto" src="assets/team/Lian.jpg"/>
    </div>
    <div class="div-desc-team">
      <div class="content-team">
        <h3>Conoce</h3>
        <p>Lorem ipsum dolor sit amet eos justo accumsan justo zzril at laoreet elitr nihil. Amet erat iusto laoreet minim et duis dignissim ex et in no ut justo et esse lorem. Aliquyam nonumy ex volutpat soluta clita dolor dolore erat. Lobortis sea gubergren clita.</p>
      </div>
    </div>
  </div>
  <div class="div-cards-social">
    <div class="card">
      <div class="icon"><i class="fa-brands fa-github"></i></div>
      <div class="card-body">
        <h3 class="card-title">Github</h3>
      </div>
      <div class="card-body">
        <a class="btn-social" role="button" href="https://github.com/Liixxn">Conoce más</a>
      </div>
    </div>

    <div class="card">
      <div class="icon"><i class="fa-brands fa-linkedin"></i></div>
      <div class="card-body">
        <h3 class="card-title">Linkedin</h3>
      </div>
      <div class="card-body">
        <a class="btn-social" role="button" href="https://www.linkedin.com/in/lian-salmeron-lopez/">Conoce más</a>
      </div>
    </div>

    <div class="card">
      <div class="icon"><i class="fa-solid fa-envelope"></i></div>
      <div class="card-body">
        <h3 class="card-title">Email</h3>
      </div>
      <div class="card-body">
        <a class="btn-social" role="button">Conoce más</a>
      </div>
    </div>
  </div>
  </section>


<app-footer></app-footer>
