<section id="section-header">
  <div class="div-banner-information">
    <div class="div-information-title">
      <h3>Bienvenidos a Librital</h3>
    </div>
    <div class="div-information-text">
      <p>Librital es un proyecto que pretende impulsar el interés por la lectura y la preservación del libro físico. Enfocada a todo el público, pone a disposición de los usuarios una gran cantidad de libros y actividades para disfrutar.</p>
      <p>Queremos garantizar la mejor de las experiencias para nuestros lectores y poder llegar hasta todo amante de los libros.</p>
    </div>
  </div>
  <div class="images-slide-banner">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://cdn-icons-png.flaticon.com/512/4288/4288932.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://cdn-icons-png.flaticon.com/512/7273/7273762.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://cdn-icons-png.flaticon.com/512/7286/7286624.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
</section>


<section id="section-information">
  <div class="div-info-proyecto">
    <div class="imagen-info-proyecto">
      <div class="imagen-proyecto"></div>
    </div>
    <div class="info-proyecto-descripcion">
      <div class="descripcion1">
        <h3>¿Cúal es vuestra motivación para llevar a cabo este proyecto?</h3>
        <p>En Librital disfrutamos de la lectura como una actividad de ocio en nuestro tiempo, por ello compartir nuestras opiniones con la comunidad nos parece increíble. Apostamos por los libros físicos y por el reciente movimiento de bookcrossing, el cual impulsamos con nuestro mapa de puntos.
        Por ello, decidimos dar vida a esta idea en la que rodearse de libros, dar a conocer nuevos ejemplares al resto de usuarios y enseñar a los lectores a darle una segunda vida a aquellos libros que no quieran, con el bookcrossing.</p>
      </div>
      <div class="descripcion2">
        <h3>¿Teneís pensado mejoras para implementar?</h3>
        <p>¡Por supuesto! Queremos que Librital evolucione y pueda ser una aplicación grande con mucha vida, dónde haya mucho movimiento. Tenemos pensado implementar ciertas mejoras para que los lectores tengan la libertad de hacer muchas opciones dentro de Librital.</p>
      </div>
    </div>
  </div>
</section>

<section id="section-team">
  <div class="title-team">
    <h3>EQUIPO</h3>
  </div>
  <div class="div-info-team">
    <div class="foto-team">
      <img id="foto" src="assets/team/Lian.jpg"/>
    </div>
    <div class="div-desc-team">
      <div class="content-team">
        <h3>Conoce</h3>
        <p>Lorem ipsum dolor sit amet eos justo accumsan justo zzril at laoreet elitr nihil. Amet erat iusto laoreet minim et duis dignissim ex et in no ut justo et esse lorem. Aliquyam nonumy ex volutpat soluta clita dolor dolore erat. Lobortis sea gubergren clita.</p>
      </div>
    </div>
  </div>
  <div class="div-cards-social">
    <div class="card">
      <div class="icon"><i class="fa-brands fa-github"></i></div>
      <div class="card-body">
        <h3 class="card-title">Github</h3>
      </div>
      <div class="card-body">
        <a class="btn-social" role="button" href="https://github.com/Liixxn">Conoce más</a>
      </div>
    </div>

    <div class="card">
      <div class="icon"><i class="fa-brands fa-linkedin"></i></div>
      <div class="card-body">
        <h3 class="card-title">Linkedin</h3>
      </div>
      <div class="card-body">
        <a class="btn-social" role="button" href="https://www.linkedin.com/in/lian-salmeron-lopez/">Conoce más</a>
      </div>
    </div>

    <div class="card">
      <div class="icon"><i class="fa-solid fa-envelope"></i></div>
      <div class="card-body">
        <h3 class="card-title">Email</h3>
      </div>
      <div class="card-body">
        <a class="btn-social" role="button">Conoce más</a>
      </div>
    </div>
  </div>
  </section>


<app-footer></app-footer>
