body {
  background-color: var(--colorFondo);
  margin: 0;
  padding: 0;
}

/** SECCION BUSCADOR */
.section-buscsador {
  padding-top: 2%;
  display: flex;
  //height: 100%;
  justify-content: center;
  flex-direction: column;
  background: url("/assets/librital-buscador.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin-top: 100px;
}

.div-buscador {
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-lupa {
  left: 26%;
  position: absolute;
}

.form-buscador {
  width: 50%;
  text-indent: 5%;
  padding: 1% 6% 1% 3%;
}



.span-borrar {
  right: 29%;
  position: absolute;
}


.div-search-isbn {
  right: 26%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-isbn {
  height: 100%;
  border-radius: 12px;
}




/** SELECT FILTROS **/

.div-select-filtros {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2%;
  margin-bottom: 2%;
}

.btn-filtro {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--amarilloOscuro);
  border-radius: 9999px;
  background-color: var(--amarillo);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: var(--textoPlain);
  font-weight: bold;
  font-family: 'Patrick Hand', cursive;
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
  margin: 2% 1%;
}

.btn-filtro:hover {
  background-color: transparent;
  color: black;
}

.seleccionado {
  background-color: transparent;
  color: black;
}



/*.select-filtros {
  width: 20%;
  height: 100%;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}*/







/** FILTROS **/

.buscador-filtros {
  margin-top: 1%;
  margin-bottom: 1%;
}

.filtro-buscador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#select-filtro-buscador {
  width: 50%;
  margin-top: 1%;

}

.filtros-generos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-titulo-generos {
  display: flex;
  justify-content: center;

}

.span-filtro {
  font-family: 'Patrick Hand', cursive;
  font-weight: bold;
}

.div-filtros-generos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

.form-select {
  width: 50%;
  margin-right: 1%;
}

.div-buscar-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}


.btn-buscar {
  background: linear-gradient(to bottom right, var(--logoLibrital), #1fb9a5);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  font-family: 'Patrick Hand', cursive;
}


.btn-buscar:hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem var(--logoLibrital), .125rem .125rem 1rem rgb(11, 180, 183);
}





/** RESULTADOS BUSQUEDA **/

.section-resultados {
  //margin-top: 1%;
  width: 100%;
  height: 100%;
  background-color: var(--colorFondo);
  padding-bottom: 1%;
}

.div-resultados-buscador {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.card {
  position: relative;
  width: 320px;
  //height: 480px;
  height: auto;
  background: var(--usuarioSubscription);
  border-radius: 20px;
  overflow: hidden;
  margin-top: 2%;
  cursor: pointer;
}

.card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: var(--logoLibrital);
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: rgba(0, 0, 0, 0.1);
}

.card .div-img {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.card .card-info {
  position: relative;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  height: 100%;
}

.card .card-info h3 {
  font-size: 20px;
  color: black;
  font-family: 'Patrick Hand', cursive;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.card-info p {
  font-size: 18px;
  color: var(--textoPlain);
  font-family: 'Patrick Hand', cursive;
  font-weight: 500;
  text-align: center;
}


.card .card-info .btn-more {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: var(--textoPlain);
  font-weight: bold;
  font-family: 'Patrick Hand', cursive;
  text-decoration: none;
  background: var(--amarillo);
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .card-info .btn-more {
  top: 0;
  opacity: 1;
}

.img-cover {
  height: 300px;
  width: 225px;
  padding-top: 3%;
}


.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--colorFondo);
}




@media (max-width: 1100px) {

  .form-buscador {
    padding: 1% 7% 1% 3%;
  }

  .span-borrar {
    right: 30%;
  }
}

@media (max-width: 830px) {

  .form-buscador {
    padding: 1% 9% 1% 4%;
  }

  .span-borrar {
    right: 31%;
  }
}


@media (max-width: 650px) {

  .form-buscador {
    padding: 1% 11% 1% 5%;
  }

  .card {
    width: 220px;
    height: auto;
    cursor: pointer;
  }

  .img-cover {
    height: 250px;
    width: 200px;
  }

  .card .card-info h3 {
    width: 100%;
  }

  .span-borrar {
    right: 33%;
  }

}

@media (max-width: 480px) {

  .form-control {
    //text-indent: 15%;
    padding: 1% 11% 1% 8%;
  }

  .div-search-isbn {
    position: initial;
    margin: 0 1%;
  }

  .card {
    width: 100%;
    height: auto;
    cursor: pointer;
    margin: 5%;
  }

  .span-borrar {
    right: 33%;
  }
}

@media (max-width: 370px) {

  .span-lupa {
    left: 2%;
    position: absolute;
  }

  .span-borrar {
    right: 15%;
  }

  .form-control {
    width: 100%;
    margin: 0 1%;
  }

}

@media (max-width: 290px) {

  .div-img {
    width: 100%;
  }

  .img-cover {
    width: 100%;
    padding: 5%;
    border-radius: 20px;
  }

  .span-borrar {
    right: 20%;
  }

}


@media (max-width: 220px) {

    .span-borrar {
      right: 27%;
    }
}
