<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

<section class="section-buscsador">
  <div class="div-buscador">
    <span class="span-lupa">
      <i class="fa-solid fa-magnifying-glass"></i>
    </span>
    <input type="text" class="form-control form-buscador" [disabled]="buscadorDisabled" placeholder="Buscar" (keyup.enter)="onEnter()" [(ngModel)]="valorBuscador" (input)="activarBorrarContenido()">
    <span *ngIf="tieneContenido" class="span-borrar" (click)="borrarBuscador()">
      <i class="fa-solid fa-circle-xmark"></i>
    </span>
    <div class="div-search-isbn">
      <!-- <video #videoElement></video>-->
      <button class="btn-isbn" routerLink="/camera"><i class="fa-solid fa-barcode" style="color: #000000;"></i></button>
      <!-- <button (click)="stopCamera()">Cerrar Cámara</button>>> -->
    </div>
  </div>

  <div class="div-select-filtros">
    <button class="btn-filtro" [ngClass]="{'seleccionado': botonSeleccionado === 'titulo'}" (click)="capturarSeleccion('titulo')">Título</button>
    <button class="btn-filtro" [ngClass]="{'seleccionado': botonSeleccionado === 'autor'}" (click)="capturarSeleccion('autor')">Autor</button>
    <button class="btn-filtro" [ngClass]="{'seleccionado': botonSeleccionado === 'categoria'}" (click)="capturarSeleccion('categoria')">Géneros</button>
    <button class="btn-filtro" [ngClass]="{'seleccionado': botonSeleccionado === 'isbn'}" (click)="capturarSeleccion('isbn')">ISBN</button>
  </div>



  <div class="buscador-filtros" *ngIf="filtroGeneroSelected">
    <div class="filtros-generos">
      <div class="div-titulo-generos">
        <span class="span-filtro">Filtrar por Géneros</span>
      </div>
      <div class="div-filtros-generos">
        <select class="form-select select-generos" [(ngModel)]="generoSelected">
          <option value="" disabled selected>Selecciona un género</option>
          <!-- generoSelected == '' ? genero.nombre : generoSelected -->
          <option *ngFor="let genero of generos">{{ genero.nombre }}</option>
        </select>
      </div>
    </div>
    <!--<div class="div-generos-card">
      <div class="lista-generos">
        <span class="card-generos" *ngFor="let generoL of listaGenerosSelected">{{generoL}} <i id="xmark-genero" class="fa-solid fa-xmark" style="color: black;" (click)="eliminarGenero(generoL)"></i> </span>
      </div>
    </div>-->
  </div>
  <div class="div-buscar-btn">
    <button class="btn-buscar" (click)="onEnter()">Buscar</button>
  </div>
</section>


<section class="section-resultados">
  <div class="div-resultados-buscador">
    <div class="card" *ngFor="let libro of listaLibros | paginate: {
      itemsPerPage: numLibrosPerPage,
      currentPage: paginaActual,
      totalItems: numeroTotalLibros
    }; let i = index" [class.active]="i == currentIndex" (click)="irLibroId(libro)">
      <div class="div-img">
        <img class="img-cover" [src]="((libro.portada == null || libro.portada == '') ? 'assets/NoCover.png' : (libro.portada.startsWith('https')) ? decodeURIComponent(libro.portada) : environment.imageLocalLibro+libro.portada)">
      </div>
      <div class="card-info">
        <h3>{{ comprobarTitulo(libro.titulo) }}</h3>
        <p>{{ comprobarAutor(libro.autor) }}</p>
        <a (click)="irLibroId(libro)" class="btn-more">Ver más</a>
      </div>
    </div>
  </div>
</section>

<div class="paginacion">
  <pagination-controls
    previousLabel="Anterior"
    nextLabel="Siguiente"
    (pageChange)="handlePageChange($event)"
    [maxSize]="10"
  ></pagination-controls>
</div>



<app-footer></app-footer>
