<app-loading-spinner *ngIf="isLoading" ></app-loading-spinner>


<section class="section-biblioteca">
  <div class="biblioteca-content">


    <div class="column1-info">
      <div class="div-title">
        <h3>
          Mi Biblioteca
          <span class="icon-biblioteca">
          <img src="assets/library.svg">
        </span>
        </h3>
      </div>
      <div class="div-etiquetas-default">
        <div class="lista-etiquetas-default">
          <a class="etiqueta-defualt" *ngFor="let etqiuetaDefualt of listaEtiquetasDefault" [ngClass]="{'etiquetaDefaultChecked': etiquetaDefaultSeleccionada === etqiuetaDefualt}" (click)="pulsarEtiquetaFiltrarLibrosUser(etqiuetaDefualt)">
            {{ etqiuetaDefualt }}
          </a>
        </div>
      </div>

      <div class="div-etiquetas-custom">
        <p class="title-etiquetas">Tus etiquetas
          <span class="icon-etiquetas">
            <i class="fa-solid fa-tags"></i>
          </span>
        </p>
        <div class="lista-etiquetas-custom">
          <a class="etiqueta-custom" *ngFor="let etiquetaCustom of listaEtiquetasCustom" [ngClass]="{'etiquetaCustomtChecked': etiquetaDefaultSeleccionada === etiquetaCustom.nombre}" (click)="pulsarEtiquetaFiltrarLibrosUser(etiquetaCustom.nombre)">
            {{ etiquetaCustom.nombre }}
          </a>
          <p *ngIf="!hayEtiquetasUser">Crea tus propias etiquetas y personaliza tu biblioteca como quieras</p>
        </div>
      </div>
      <div class="section-addLibro">
        <h3>¡Hora de añadir un libro!</h3>
        <p>¿No encuentras el libro que quieres?</p>
        <p>¡Añadelo y así todo el mundo lo conocerá!</p>
        <span class="span-cover">
          <img src="assets/addLibro.png"/>
        </span>
        <a class="btn-addLibro" routerLink="/add-libro">
          <span class="span-btnText">
            <span class="text">Añadir</span>
          </span>
          <span class="span-btnIcon">
            <i class="fa-solid fa-chevron-right"></i>
          </span>
        </a>
      </div>
    </div>


    <div class="column2-biblioteca">
      <div class="biblioteca-container">
        <div class="buscador-biblioteca">
          <span class="span-lupa">
            <i class="fa-solid fa-magnifying-glass"></i>
          </span>
          <input type="text" class="form-control form-buscador" placeholder="Buscar libro" (keyup.enter)="onEnter()" [(ngModel)]="valorBuscarInput" (input)="activarBorrarContenido()">
          <span class="span-borrar" *ngIf="tieneContenido" (click)="borrarBuscador()">
            <i class="fa-solid fa-circle-xmark"></i>
          </span>
        </div>
        <div class="shelf-libros">
          <div class="lista-shelf-libros">
            <div class="div-no-libros" *ngIf="hayLibrosBibliotecaUser">
              <p>¡Añade un libro para rellenar tu biblioteca!</p>
            </div>
            <div class="book" *ngFor="let libroUser of librosUsuario | paginate: {
                itemsPerPage: numLibrosPerPage,
                currentPage: paginaActual,
                totalItems: numeroTotalLibros
                }; let i = index" [class.active]="i == currentIndex" (click)="irLibroId(libroUser.id_libro)">
              <img [src]="((libroUser.portada == null || libroUser.portada == '') ? 'assets/NoCover.png' : (libroUser.portada.startsWith('https')) ? decodeURIComponent(libroUser.portada) : environment.imageLocalLibro+libroUser.portada)">
            </div>
          </div>
        </div>

        <div class="paginacion">
          <pagination-controls
            previousLabel="Anterior"
            nextLabel="Siguiente"
            (pageChange)="handlePageChange($event)"
            [maxSize]="10"
          ></pagination-controls>
        </div>

      </div>
    </div>
  </div>
</section>







<app-footer></app-footer>
