<section class="section-libro-info">
  <div class="card-libro">
    <div class="container-movie">
      <div class="container-cover">
        <img class="cover" [src]="((libroMostrar.portada == null || libroMostrar.portada == '') ? 'assets/NoCover.png' : (libroMostrar.portada.startsWith('/https')) ? decodeURIComponent(libroMostrar.portada.substring(1)) : environment.imageLocalLibro+libroMostrar.portada )">
      </div>
      <div class="book-bg">
        <div class="libro-detalle">
          <div class="title-libro">
            {{ libroMostrar.titulo }}
          </div>
          <div class="div-rating">
            <div class="rating">
              <input value="5" name="rating" id="star5" type="radio" [checked]="valoracionLibro === 5" disabled>
              <label for="star5"></label>
              <input value="4" name="rating" id="star4" type="radio" [checked]="valoracionLibro === 4" disabled>
              <label for="star4"></label>
              <input value="3" name="rating" id="star3" type="radio" [checked]="valoracionLibro === 3" disabled>
              <label for="star3"></label>
              <input value="2" name="rating" id="star2" type="radio" [checked]="valoracionLibro === 2" disabled>
              <label for="star2"></label>
              <input value="1" name="rating" id="star1" type="radio" [checked]="valoracionLibro === 1" disabled>
              <label for="star1"></label>
            </div>
            <div class="rating-numbers">
              <p> {{ numResenas }} {{ numResenas == 1 ? 'reseña' : 'reseñas' }}<p>
            </div>
          </div>
        </div>
      </div>

      <div class="section-options">
        <button class="btn-option-libro" (click)="addFavoritoLibro()">
          <ng-container *ngIf="esFavoritoLibroUser; else noFavorito">
            <i class="fa-solid fa-heart"></i>
          </ng-container>
          {{ esFavoritoLibroUser ? 'Eliminar de favoritos' : 'Añadir a Favoritos' }}
          </button>
        <ng-template #noFavorito>
          <i class="fa-regular fa-heart"></i>
        </ng-template>

        <button class="btn-option-libro" (click)="addReadLater()">
          <ng-container *ngIf="esReadLater; else noReadLater">
            <i class="fa-solid fa-clock"></i>
          </ng-container>
          {{ esReadLater ? 'Eliminar de leer más tarde' : 'Añadir a leer más tarde' }}
        </button>
        <ng-template #noReadLater>
          <i class="fa-regular fa-clock"></i>
        </ng-template>

        <button class="btn-option-libro" (click)="addActualmenteLeyendo()">
          <ng-container *ngIf="esActualmenteLeyendo; else noActualmenteLeyendo">
            <i class="fa-solid fa-book-open-reader"></i>
          </ng-container>
          {{ esActualmenteLeyendo ? 'Eliminar de actualmente leyendo' : 'Añadir a actualmente leyendo'}}
        </button>
        <ng-template #noActualmenteLeyendo>
          <i class="fa-solid fa-book"></i>
        </ng-template>

        <button class="btn-option-libro" (click)="addTerminadoLeer()">
          <ng-container *ngIf="esTerminadoLeer; else noTerminadoLeer">
            <i class="fa-solid fa-bookmark"></i>
          </ng-container>
          {{ esTerminadoLeer ? 'Eliminar de terminado de leer' : 'Añadir a terminado de leer'}}
        </button>
        <ng-template #noTerminadoLeer>
          <i class="fa-regular fa-bookmark"></i>
        </ng-template>

        <button class="btn-option-libro" (click)="addBibliotecaUser()">
          <ng-container *ngIf="esAnadidoBiblioteca; else addBiblioteca">
            <i class="fa-solid fa-store-slash"></i>
          </ng-container>
          {{ esAnadidoBiblioteca ? 'Eliminar de mi biblioteca' : 'Añadir a mi biblioteca'}}
        </button>
        <ng-template #addBiblioteca>
          <i class="fa-solid fa-store"></i>
        </ng-template>


        <button class="btn-option-libro" (click)="addEtiquetaPersonalizada()"><i class="fa-solid fa-pen-to-square"></i>Añadir Etiqueta Personalizada</button>
      </div>

      <div class="libro-etiquetas" *ngIf="usuarioLogueado && listaEtiquetas.length > 0">
        <div class="title-etiquetas">
          <p>Etiquetas personalizadas:</p>
        </div>
        <div class="lista-etiquetas" *ngFor="let etiqueta of listaEtiquetas">
          <span class="etiqueta">{{ etiqueta.nombre }}</span>
        </div>
      </div>

      <div class="desc-libro">
        <div class="column1">
          <div class="list-genre" *ngIf="!categoriasVacia && masCategorias">
            <span class="genero" *ngFor="let genero of listaGeneros">{{ genero.nombre }}</span>
          </div>

          <div class="list-genre" *ngIf="!categoriasVacia && !masCategorias">
            <span class="genero">{{ categoriaLibro.nombre }}</span>
          </div>

            <div class="rating-personal">
              <input value="5" name="rating_personal" id="star5_personal" type="radio" [checked]="valoracionUserLibro === 5" [disabled]="!usuarioLogueado">
              <label for="star5_personal" (click)="valorarLibro(5)"></label>
              <input value="4" name="rating_personal" id="star4_personal" type="radio" [checked]="valoracionUserLibro === 4" [disabled]="!usuarioLogueado">
              <label for="star4_personal" (click)="valorarLibro(4)"></label>
              <input value="3" name="rating_personal" id="star3_personal" type="radio" [checked]="valoracionUserLibro === 3" [disabled]="!usuarioLogueado">
              <label for="star3_personal" (click)="valorarLibro(3)"></label>
              <input value="2" name="rating_personal" id="star2_personal" type="radio" [checked]="valoracionUserLibro === 2" [disabled]="!usuarioLogueado">
              <label for="star2_personal" (click)="valorarLibro(2)"></label>
              <input value="1" name="rating_personal" id="star1_personal" type="radio" [checked]="valoracionUserLibro === 1" [disabled]="!usuarioLogueado">
              <label for="star1_personal" (click)="valorarLibro(1)"></label>
            </div>
            <div class="rating-clear">
              <a class="btn" (click)="eliminarValoracion()">
                <span class="span-btnIcon">
                  <img src="https://cdn-icons-png.flaticon.com/512/10015/10015364.png">
                </span>
                      <span class="span-btnText">
                  <span class="text">Eliminar valoración</span>
                </span>
              </a>
            </div>
        </div>
        <div class="column2">
          <div class="section-info">
            <div class="div-info">
              <div class="libro-categorias">
                <div class="libro-autor" *ngIf="existeAutor">
                  <p id="autor">Autor: {{ libroMostrar.autor }}</p>
                </div>
                <div class="libro-publicacion" *ngIf="existeFecha">
                  <p id="date-publicacion">Año de publicación: {{ libroMostrar.fecha }}</p>
                </div>
                <div class="libro-editorial" *ngIf="existeEditorial">
                  <p id="editorial">Editorial: {{ libroMostrar.editorial }}</p>
                </div>
                <div class="libro-isbn" *ngIf="existeIsbn10">
                  <p id="isbn">ISBN10: {{ libroMostrar.isbn10 }}</p>
                </div>
                <div class="libro-isbn13" *ngIf="existeIsbn13">
                  <p id="isbn13">ISBN13: {{ libroMostrar.isbn13 }}</p>
                </div>
              </div>
              <div class="descripcion-libro" *ngIf="existeDescripcion">
                <p>{{ libroMostrar.descripcion }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--<section class="section-comprar">
  <div class="title-compra">
    <h3>Consigue tu libro:</h3>
  </div>
  <div class="div-lista-compras">
    <div class="card-click">
      <a href="#" target="_blank" class="card-link">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body ">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="card-click">
      <a href="#" target="_blank" class="card-link">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="card-click">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </div>
</section>-->


<section class="section-libros-relacionados">

</section>


<app-footer></app-footer>
