*, *:before, *:after {
  box-sizing: border-box;
}


.section-libro-info {
  width: 100%;
  height: 100%;
}

.card-libro {
  width: 100%;
  height: 100%;
  //padding: 40px 0;
}

.container-movie {
  //margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.book-bg {
  width: 100%;
  height: 100%;
  margin:0;
  position: relative;
  overflow: hidden;
  z-index:1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.book-bg:before {
  content:'';
  width:100%;
  height:100%;
  position:absolute;
  overflow: hidden;
  top:0;
  left:0;
  background: url("/assets/librital-libro.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index:-1;
  transform: skewY(-1.5deg);
  transform-origin:0 0;
  //chrome antialias fix
  -webkit-backface-visibility: hidden;

}

.container-cover {
  position: absolute;
  top: 160px;
  left: 40px;
  width: 200px;
  height: 300px;
  z-index: 2;
}

.cover {
  width: 100%;
  height: 100%;
}

.libro-detalle {
  padding: 190px 0 0 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

}

.title-libro {
  color: #000000;
  font-size: 30px;
  position: relative;
  text-align: center;
  padding: 0 1% 0 0;

}

.libro-generos {
  padding: 0 0 0 280px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.lista-generos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}

.column1 {
  padding-left: 35px;
  padding-top: 100px;
  width: 250px;
  height: 100%;
  float: left;
  text-align: center;

  margin-top: 1%;

}

.libro-autor {
  padding: 0 0 0 280px;
}

.list-genre {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  padding-top: 50px;
}

.genero {
  background: var(--colorFondo);
  border-radius: 20px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  margin-top: 4px;
  line-height: 35px;
  cursor: pointer;
}





.descripcion-libro {
  margin-top: 1%;
  padding: 0 2% 0 280px;

}

.libro-etiquetas {
  //margin: 1% 0;
  padding: 0 0 0 280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.title-etiquetas {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  p {
    margin: 0 10px 0 0;
    padding: 0;
  }

}

.lista-etiquetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;

}

/*.etiqueta {
  margin: 0 10px 0 0;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 10px;
  font-size: 12px;
  color: black;
}*/


.etiqueta {
  display: inline-block;
  border-radius: 20px;
  padding: .2em .5em .3em;
  font-weight: 400;
  margin: .25em .1em;
  background: #41b883;
  color: white;
  border: 1px solid var(--amarillo);
}


.div-rating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: unset;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}

.rating input:checked ~ label {
  color: #ffd500;
  transition: color 0.3s;
}

.rating-numbers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0 0 0 15px;

  p {
    text-align: center;
    margin: 0;
    font-weight: 500;
  }

}



.rating-personal {
  display: inline-block;
}

.rating-personal input {
  display: none;
}

.rating-personal label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating-personal label:before {
  content: '\2605';
  font-size: 30px;
}

.rating-personal input:checked ~ label {
  color: #ffd500;
  transition: color 0.3s;
}

.rating-personal input:checked ~ label,
.rating-personal label:hover,
.rating-personal label:hover ~ label {
  color: #ffd500;
  transition: color 0.3s;
}



/** SECTION OPTIONS **/

.section-options {
  padding: 0 0 0 280px;
  margin: 0 0 1% 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  //margin: 10% 0 2% 0;
}

.btn-option-libro {
  background: linear-gradient(to bottom right, var(--logoLibrital), #1fb9a5);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  margin: 0 10px 10px 0;
}


.btn-option-libro:hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem var(--logoLibrital), .125rem .125rem 1rem rgb(11, 180, 183);
}

























.section-info {
  padding: 0 0 0 280px;
}


.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--amarilloOscuro);
  border-radius: 9999px;
  background-color: var(--amarillo);
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgb(61, 60, 60);
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.btn:hover {
  background-color: transparent;
  color: black;
}

.span-btnIcon {
  height: 1.5rem;
  width: 1.5rem;

  img {
    width: 100%;
    height: 100%;
  }
}











/** SECCION COMPRA **/

.section-comprar {
  margin: 5% 0;
  width: 100%;
  height: 100%;
}

.title-compra {
  width: 100%;
  display: flex;
  justify-content: center;
}

.div-lista-compras {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card-click {
  width: 30%;
  height: 100%;
}

.card {
  width: 100%;
  height: auto;
}















/** RESPONSIVE **/

@media (max-width: 970px) {
  .div-lista-compras {
    margin: auto;
    flex-direction: column;
  }

  .card-click {
    width: 100%;
    height: auto;
  }

}


@media (max-width: 650px) {
  .container-movie {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .book-bg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-cover {
    position: absolute;
    left: auto;
    z-index: 2;
  }

  .libro-detalle {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 500px 5px 0 5px;
  }

  .genero {
    margin-top: 5%;
  }

  .column1 {
    width: auto;
    float: none;
    padding: 0;
    margin: 0;
  }

  .libro-autor {
    //margin-top: 5%;
    padding: 5%;
    text-align: center;
  }

  .list-genre {
    padding: 0;
  }

  .descripcion-libro {
    padding: 0 5%;
    width: 100%;

    p {
      text-align: center;
    }

  }

  .section-info {
    padding: 0 5%;
    width: 100%;
  }

  .section-options {
    padding: 0 2%;
    margin: 2% 0;
    justify-content: center;
    width: 100%;
  }

  .select-etiqueta {
    width: 100%;
  }

  .btn-opciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .libro-etiquetas {
    padding: 0 5%;
    width: 100%;

  }

}

@media (max-width: 350px) {

  .title-libro {
    font-size: 20px;
  }

  .btn {
    width: 100%;
    padding: 0;

    .span-btnIcon {
      display: none;
    }

  }

  .btn-option-libro {
    width: 100%;
    text-align: center;
    font-size: 14px;
    white-space: normal;
    margin: 5%;
  }

  .div-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}



@media (max-width: 250px) {

  .column1 {
    padding: 0;
    width: 100%;
    float: none;
    text-align: center;
  }

  .list-genre {
    padding: 10% 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .genero {
    margin: 5%;
  }

  .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }


  .rating-numbers {
    padding: 0;
  }

  .container-cover {
    width: 90%;
  }

  .title-libro {
    font-size: 20px;
  }
}
